openapi: 3.0.3
info:
  title: Gigahost API
  version: "0.0.1"

servers:
  - url: https://api.gigahost.no/api/v0

security:
  - bearerAuth: []

paths:
  /account:
    get:
      operationId: getAccount
      responses:
        "200":
          description: The authenticated account profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountData'

  /dns/zones:
    get:
      operationId: listDnsZones
      responses:
        "200":
          description: The account's DNS zones.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsZonesData'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    AccountData:
      type: object
      properties:
        cust_id:
          type: string
          description: Customer id.
        cust_name:
          type: string
          description: Customer (company or person) name.
        cust_address:
          type: string
          description: Postal address.
        cust_zipcode:
          type: string
          description: Postal/ZIP code.
        cust_city:
          type: string
          description: City.
        cust_country:
          type: string
          description: Country.
        cust_phone:
          type: string
          description: Phone number.
        cust_email:
          type: string
          description: Primary contact email.
        cust_company_no:
          type: string
          description: Organization/company number.
        cust_billing_email:
          type: string
          description: Billing email.
        ssh_keys:
          type: array
          description: SSH public keys registered on the account.
          items:
            $ref: '#/components/schemas/SSHKey'

    SSHKey:
      type: object
      properties:
        key_id:
          type: string
          description: SSH key id.
        key_name:
          type: string
          description: SSH key name.
        key_added:
          type: string
          description: When the key was added (Unix timestamp, string-encoded).
        key_data:
          type: string
          description: The OpenSSH public key material.

    DnsZonesData:
      type: object
      properties:
        zones:
          type: array
          description: DNS zones on the account.
          items:
            $ref: '#/components/schemas/DnsZone'

    DnsZone:
      type: object
      properties:
        zone_id:
          type: string
          description: Zone id.
        zone_name:
          type: string
          description: Domain name.
        zone_type:
          type: string
          description: Zone type (NATIVE, MASTER, or SLAVE).
        zone_active:
          type: string
          description: Whether the zone is active ("1" or "0").
        zone_protected:
          type: string
          description: Whether the zone is protected ("1" or "0").
        zone_is_registered:
          type: string
          description: Whether the domain is registered through Gigahost ("1" or "0").
        domain_registrar:
          type: string
          description: Domain registrar.
        domain_status:
          type: string
          description: Domain status.
        domain_expiry_date:
          type: string
          description: Domain expiry date.
        domain_auto_renew:
          type: string
          description: Whether auto-renewal is enabled ("1" or "0").
        external_dns:
          type: string
          description: Whether the zone uses external nameservers ("1" or "0").
        record_count:
          type: string
          description: Number of DNS records in the zone.
        zone_updated:
          type: string
          description: When the zone was last updated (Unix timestamp, string-encoded).
