openapi: 3.0.3
info:
  title: Gigahost API
  version: "0.0.1"

servers:
  - url: https://api.gigahost.no/api/v0

security:
  - bearerAuth: []

paths:
  /account:
    get:
      operationId: getAccount
      responses:
        "200":
          description: The authenticated account profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountData'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    AccountData:
      type: object
      properties:
        cust_id:
          type: string
          description: Customer id.
        cust_name:
          type: string
          description: Customer (company or person) name.
        cust_address:
          type: string
          description: Postal address.
        cust_zipcode:
          type: string
          description: Postal/ZIP code.
        cust_city:
          type: string
          description: City.
        cust_country:
          type: string
          description: Country.
        cust_phone:
          type: string
          description: Phone number.
        cust_email:
          type: string
          description: Primary contact email.
        cust_company_no:
          type: string
          description: Organization/company number.
        cust_billing_email:
          type: string
          description: Billing email.
        ssh_keys:
          type: array
          description: SSH public keys registered on the account.
          items:
            $ref: '#/components/schemas/SSHKey'

    SSHKey:
      type: object
      properties:
        key_id:
          type: string
          description: SSH key id.
        key_name:
          type: string
          description: SSH key name.
        key_added:
          type: string
          description: When the key was added (Unix timestamp, string-encoded).
        key_data:
          type: string
          description: The OpenSSH public key material.
