openapi: 3.0.3
info:
  title: Gigahost API
  version: "0.0.1"

servers:
  - url: https://api.gigahost.no/api/v0

security:
  - bearerAuth: []

paths:
  /account:
    get:
      operationId: getAccount
      responses:
        "200":
          description: The authenticated account profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountData'

  /account/sshkey:
    post:
      operationId: createSSHKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSSHKeyRequest'
      responses:
        "200":
          description: The SSH key was created.

  /account/sshkey/{id}:
    delete:
      operationId: deleteSSHKey
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The SSH key was deleted.

  /dns/zones:
    get:
      operationId: listDnsZones
      responses:
        "200":
          description: The account's DNS zones.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsZonesData'
    post:
      operationId: createDnsZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateZoneRequest'
      responses:
        "201":
          description: The zone was created.

  /dns/zones/{id}:
    delete:
      operationId: deleteDnsZone
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The zone was deleted.

  /dns/zones/{zone_id}/records:
    get:
      operationId: listDnsRecords
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The DNS records in the zone.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecordsData'
    post:
      operationId: createDnsRecord
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordRequest'
      responses:
        "201":
          description: The record was created.

  /dns/zones/{zone_id}/records/{record_id}:
    put:
      operationId: updateDnsRecord
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
        - name: record_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordRequest'
      responses:
        "200":
          description: The record was updated.
    delete:
      operationId: deleteDnsRecord
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
        - name: record_id
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
        - name: value
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The record was deleted.

  /dns/zones/{zone_id}/redirect:
    get:
      operationId: listDnsRedirects
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The redirects in the zone.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DnsRedirect'
    post:
      operationId: createDnsRedirect
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedirectRequest'
      responses:
        "201":
          description: The redirect was created.
    put:
      operationId: updateDnsRedirect
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedirectRequest'
      responses:
        "200":
          description: The redirect was updated.
    delete:
      operationId: deleteDnsRedirect
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
        - name: source
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The redirect was deleted.

  /deploy/servers:
    get:
      operationId: getDeployCatalog
      description: The hourly cloud server catalog.
      responses:
        "200":
          description: The deployable server catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployCatalog'
    post:
      operationId: deployServer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployServerRequest'
      responses:
        "200":
          description: The deploy order was placed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResult'

  /deploy/status:
    get:
      operationId: getDeployStatus
      parameters:
        - name: ids
          in: query
          required: true
          description: Comma-separated order ids.
          schema:
            type: string
      responses:
        "200":
          description: Deploy progress for the given orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployStatus'

  /reinstall/distro:
    get:
      operationId: listDistros
      responses:
        "200":
          description: The available OS distributions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Distro'

  /reinstall/distro/{id}:
    get:
      operationId: listDistroVersions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The deployable OS images (versions) in the distribution.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OS'

  /servers:
    get:
      operationId: listServers
      responses:
        "200":
          description: The servers on the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServersData'

  /servers/{id}/name:
    put:
      operationId: updateServerName
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerNameRequest'
      responses:
        "200":
          description: The server was renamed.

  /servers/{id}/cancel:
    post:
      operationId: cancelServer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelServerRequest'
      responses:
        "200":
          description: The server was cancelled.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    AccountData:
      type: object
      properties:
        cust_id:
          type: string
          description: Customer id.
        cust_name:
          type: string
          description: Customer (company or person) name.
        cust_address:
          type: string
          description: Postal address.
        cust_zipcode:
          type: string
          description: Postal/ZIP code.
        cust_city:
          type: string
          description: City.
        cust_country:
          type: string
          description: Country.
        cust_phone:
          type: string
          description: Phone number.
        cust_email:
          type: string
          description: Primary contact email.
        cust_company_no:
          type: string
          description: Organization/company number.
        cust_billing_email:
          type: string
          description: Billing email.
        ssh_keys:
          type: array
          description: SSH public keys registered on the account.
          items:
            $ref: '#/components/schemas/SSHKey'

    SSHKey:
      type: object
      properties:
        key_id:
          type: string
          description: SSH key id.
        key_name:
          type: string
          description: SSH key name.
        key_added:
          type: string
          description: When the key was added (Unix timestamp, string-encoded).
        key_data:
          type: string
          description: The OpenSSH public key material.

    CreateSSHKeyRequest:
      type: object
      required:
        - name
        - data
      properties:
        name:
          type: string
          description: Label for the SSH key.
        data:
          type: string
          description: The OpenSSH public key material.

    DnsZonesData:
      type: object
      properties:
        zones:
          type: array
          description: DNS zones on the account.
          items:
            $ref: '#/components/schemas/DnsZone'

    DnsZone:
      type: object
      properties:
        zone_id:
          type: string
          description: Zone id.
        zone_name:
          type: string
          description: Domain name.
        zone_type:
          type: string
          description: Zone type (NATIVE, MASTER, or SLAVE).
        zone_active:
          type: boolean
          description: Whether the zone is active.
        zone_protected:
          type: boolean
          description: Whether the zone is protected against deletion.
        external_dns:
          type: boolean
          description: Whether the zone is served by external nameservers.

    CreateZoneRequest:
      type: object
      required:
        - zone_name
      properties:
        zone_name:
          type: string
          description: Domain name.
        zone_type:
          type: string
          default: "NATIVE"
          description: Zone type (NATIVE, MASTER, or SLAVE).

    DnsRecordsData:
      type: object
      properties:
        records:
          type: array
          description: DNS records in the zone.
          items:
            $ref: '#/components/schemas/DnsRecord'

    DnsRecord:
      type: object
      properties:
        record_id:
          type: string
          description: Record id.
        record_name:
          type: string
          description: Record name (host), e.g. "@" or "www".
        record_type:
          type: string
          description: Record type (A, AAAA, CNAME, MX, TXT, NS, etc.).
        record_value:
          type: string
          description: Record value (content).
        record_ttl:
          type: integer
          description: Time to live, in seconds.
        record_priority:
          type: integer
          nullable: true
          description: Priority (used by MX and SRV records).

    RecordRequest:
      type: object
      required:
        - record_value
      properties:
        record_name:
          type: string
          default: "@"
          description: Record name (host); defaults to "@".
        record_type:
          type: string
          default: "A"
          description: Record type; defaults to "A".
        record_value:
          type: string
          description: Record value (content).
        record_ttl:
          type: integer
          default: 3600
          description: Time to live, in seconds; defaults to 3600.
        record_priority:
          type: integer
          description: Priority (used by MX and SRV records).

    DnsRedirect:
      type: object
      properties:
        source:
          type: string
          description: Subdomain the redirect applies to, or "@" for the zone root.
        target_url:
          type: string
          description: URL that requests are redirected to.
        enabled:
          type: boolean
          description: Whether the redirect is active.

    RedirectRequest:
      type: object
      required:
        - target_url
      properties:
        source:
          type: string
          default: "@"
          description: Subdomain the redirect applies to; defaults to "@" (the zone root).
        target_url:
          type: string
          description: URL that requests are redirected to.

    DeployCatalog:
      type: object
      properties:
        tiers:
          type: array
          description: Server product tiers available for hourly deployment.
          items:
            $ref: '#/components/schemas/DeployTier'
        regions:
          type: array
          description: Regions servers can be deployed in.
          items:
            $ref: '#/components/schemas/DeployRegion'
        currency:
          type: string
          description: Currency of the catalog pricing.

    DeployTier:
      type: object
      properties:
        group_id:
          type: integer
          description: Tier (product group) id.
        group_name:
          type: string
          description: Tier name.
        products:
          type: array
          description: Products in the tier.
          items:
            $ref: '#/components/schemas/DeployProduct'

    DeployProduct:
      type: object
      properties:
        product_id:
          type: integer
          description: Product id, used when deploying.
        product_hash:
          type: string
          description: Product hash.
        product_name:
          type: string
          description: Product name.
        type:
          type: string
          description: Product type (vm, dedicated, or auction).
        vm_cores:
          type: string
          description: Number of virtual CPU cores.
        vm_memory:
          type: string
          description: Memory, in GB.
        vm_storage:
          type: string
          description: Storage, in GB.
        vm_bw:
          type: string
          description: Bandwidth allowance.
        vm_bw_type:
          type: string
          description: Bandwidth allowance type.
        price_id:
          type: integer
          description: Price id for the product, used when deploying.
        rate_hourly:
          type: number
          format: double
          description: Hourly rate.
        rate_monthly:
          type: integer
          description: Monthly cap (the most charged per month).
        region_ids:
          type: array
          description: Ids of the regions this product can be deployed in.
          items:
            type: integer

    DeployRegion:
      type: object
      properties:
        region_id:
          type: string
          description: Region id.
        region_name:
          type: string
          description: Region name.
        region_name_short:
          type: string
          description: Short region name.
        region_country:
          type: string
          description: Region country.
        region_active:
          type: boolean
          description: Whether the region is active.

    DeployServerRequest:
      type: object
      required:
        - pid
        - price_id
        - region_id
      properties:
        pid:
          type: integer
          description: Product id to deploy.
        price_id:
          type: integer
          description: Price id for the product.
        region_id:
          type: integer
          description: Region to deploy in.
        quantity:
          type: integer
          default: 1
          description: Number of servers to deploy.
        os_id:
          type: integer
          description: OS image (version) id to install.
        iso_id:
          type: integer
          description: ISO id to boot from, instead of an OS image.
        rescue:
          type: integer
          description: Set to 1 to deploy into rescue mode.
        hostnames:
          type: array
          description: Hostnames for the deployed servers. Recorded as each server's name (srv_name).
          items:
            type: string
        ssh_keys:
          type: array
          description: Ids of SSH keys to install.
          items:
            type: integer
        backups:
          type: integer
          description: Set to 1 to enable backups.

    DeployResult:
      type: object
      properties:
        order_ids:
          type: array
          description: Ids of the placed orders.
          items:
            type: integer
        order_numbers:
          type: array
          description: Human-facing order numbers.
          items:
            type: integer
        rate_hourly:
          type: number
          format: double
          description: Hourly rate for the order.
        monthly_cap:
          type: integer
          description: Monthly cap for the order.
        currency:
          type: string
          description: Currency of the pricing.

    DeployStatus:
      type: object
      properties:
        servers:
          type: array
          description: Per-server deploy progress.
          items:
            $ref: '#/components/schemas/DeployStatusServer'
        all_ready:
          type: boolean
          description: Whether every server in the request is ready.

    DeployStatusServer:
      type: object
      properties:
        order_id:
          type: integer
          description: Order id.
        order_number:
          type: integer
          description: Human-facing order number.
        hostname:
          type: string
          description: Requested hostname (recorded as the server name).
        srv_id:
          type: integer
          description: Server id, once provisioned.
        ip:
          type: string
          description: Primary IPv4 address.
        ipv6:
          type: string
          description: Primary IPv6 address.
        status:
          type: string
          description: Deploy status (waiting, deploying, installing, ready, rescue, iso).
        password:
          type: string
          description: Initial root password.

    Distro:
      type: object
      properties:
        dist_id:
          type: string
          description: Distribution id.
        dist_name:
          type: string
          description: Distribution name (e.g. "Ubuntu").
        dist_value:
          type: string
          description: Distribution slug.

    OS:
      type: object
      properties:
        os_id:
          type: string
          description: OS image (version) id; the value passed as os_id when deploying.
        dist_id:
          type: string
          description: Id of the parent distribution.
        os_name:
          type: string
          description: OS image name (e.g. "Ubuntu 24.04").
        os_release:
          type: string
          description: Release/version number.
        os_dist:
          type: string
          description: Distribution codename.
        os_arch:
          type: string
          description: Architecture.
        os_minram:
          type: string
          description: Minimum required RAM.
        os_custom_partition:
          type: boolean
          description: Whether the image supports custom partitioning.
        os_single_disk_only:
          type: boolean
          description: Whether the image must be installed on a single disk.
        os_support_raid:
          type: boolean
          description: Whether the image supports RAID.
        os_dedicated_only:
          type: boolean
          description: Whether the image is only deployable on dedicated servers.
        os_template:
          type: string
          description: Internal template identifier (usually empty).
        os_slow_install:
          type: boolean
          description: Whether the image is slow to install.

    ServersData:
      type: object
      properties:
        servers:
          type: array
          description: Servers on the account.
          items:
            $ref: '#/components/schemas/Server'

    Server:
      type: object
      properties:
        srv_id:
          type: string
          description: Server id.
        srv_name:
          type: string
          description: Server name. Initially the requested deploy hostname, or auto-generated.
        srv_hostname:
          type: string
          deprecated: true
          description: Server hostname; not populated by the API.
        srv_status:
          type: boolean
          description: Whether the server is running.
        srv_status_rescue:
          type: boolean
          description: Whether the server is in rescue mode.
        srv_status_install:
          type: boolean
          description: Whether the server is installing.
        srv_suspended:
          type: boolean
          description: Whether the server is suspended.
        srv_location:
          type: string
          description: Datacenter location code.
        srv_type:
          type: string
          description: Server type (vps or dedicated).
        srv_vps_type:
          type: string
          description: Virtualization type (e.g. kvm).
        srv_primary_ip:
          type: string
          description: Primary IPv4 address.
        srv_cores:
          type: integer
          description: Number of CPU cores.
        srv_ram:
          type: integer
          description: Memory, in GB.
        product_id:
          type: string
          description: Product id.
        os_id:
          type: string
          description: Installed OS image (version) id.
        os:
          $ref: '#/components/schemas/ServerOS'
        ips:
          type: array
          description: IP addresses assigned to the server.
          items:
            $ref: '#/components/schemas/ServerIP'
        order:
          $ref: '#/components/schemas/ServerOrder'
        datacenter:
          $ref: '#/components/schemas/ServerDatacenter'

    ServerOS:
      type: object
      properties:
        os_id:
          type: integer
          description: OS image (version) id.
        os_name:
          type: string
          description: OS image name.
        os_release:
          type: string
          description: OS release/version.

    ServerIP:
      type: object
      properties:
        ip_id:
          type: integer
          description: IP address id.
        ip_address:
          type: string
          description: The IP address.
        ip_v4v6:
          type: string
          description: Address family (ipv4 or ipv6).
        ip_reverse:
          type: string
          description: Reverse DNS (PTR) for the address.
        ip_type:
          type: string
          description: Address type (primary or extra).
        ip_netmask:
          type: string
          description: Netmask.
        ip_gateway:
          type: string
          description: Gateway.

    ServerOrder:
      type: object
      properties:
        order_id:
          type: string
          description: Order id.
        order_number:
          type: string
          description: Human-facing order number.
        order_status:
          type: string
          description: Order status (e.g. active or cancelled).
        product_id:
          type: string
          description: Product id.
        product_name:
          type: string
          description: Product name.

    ServerDatacenter:
      type: object
      properties:
        region_id:
          type: string
          description: Region id.
        region_name:
          type: string
          description: Region name.

    ServerNameRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: New display name for the server.

    CancelServerRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          description: Reason for cancellation.
        early_termination:
          type: integer
          description: Set to 1 to terminate immediately rather than at period end.
